.header .gjestebok, .header .ledere {
    width: 35%;
    text-align: center;
    height: 100%;
}
.header .active {
    /*background-color: #232323;*/
}
.header .map {
    text-align: center;
}
.list {
    padding-top: 0;
}
.list table {
    font-size: 40px;
    border-collapse: collapse;
}
.list table th {
    padding-left: 10px;
    padding-right: 10px;
}
.list table tr {
    height: 70px;
}
.list table td {
    padding: 10px;
}
.list table td {
    text-align: center;
}