.header .gjestebok, .header .ledere {
    width: 35%;
    text-align: center;
}
.header .active {
    /*background-color: #232323;*/
}
.header .map {
    text-align: center;
}
.header2 {
    padding-top: 10vh;
    width: 100%;
    text-align: center;
    height: 10vh;
    background: #1E6995;
    color: #fff;
    box-shadow: 0 8px 6px -6px black;
}
.header2 .topper, .header2 .turer {
    display: inline-block;
    margin: 0;
    font-size: 3em;
    padding-top: 2.5vh;
    color: #fff;
}
.header2 .topper {
    width: 48%;
}
.header2 .turer {
    width: 48%;
}

.list {
    padding-top: 0;
}
.list table {
    font-size: 40px;
    border-collapse: collapse;
}
.list table th {
    padding-left: 10px;
    padding-right: 10px;
}
.list table tr {
    height: 70px;
}
.list table td {
    padding-left: 10px;
    padding-right: 10px;
}
.list table tr:nth-child(even) {
    background-color: #FFE0BA;
}
.list table tr:nth-child(odd) {
    background-color: #FFcc8f;
}
.list table td {
    text-align: center;
}